<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h2 id="label">Login</h2>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div id="label" class="flash {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        <form action="{{ url_for('login') }}" method="post">
            <div class="input-group">
                <label id="label" for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label id="label" for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
